body {
    margin: 0;
    min-width: 97vw;
    font-family: Arial;
    overflow-x: hidden;}
  
  a {
    text-decoration: none; }
  
  @font-face {
    font-family: 'Nexa-Regular';
    src: url("../fonts/NexaRegular.otf") format("opentype"); }
  @font-face {
    font-family: 'Nexa-Light';
    src: url("../fonts/NexaLight.otf") format("opentype"); }
  @font-face {
    font-family: 'Nexa-Bold';
    src: url("../fonts/NexaBold.otf") format("opentype"); }
  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto; }
  /*------------------------------------------ Head Menu ------------------------------------------*/
  .head-block {
    background: #fff;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    font-family: 'Nexa-Regular'; }
  
  .head-block-inner {
    display: flex;
    padding-left: 25px; }
  
  .head-block-inner:nth-child(2) {
    margin-top: 15px; }
  
  .topnav-container {
    margin-top: 5px; }
  
  .topnav {
    overflow: hidden; }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
  
  .topnav .icon {
    display: none; }
  
  .dropdown {
    float: left;
    overflow: hidden; }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white; }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black; }
  
  .dropdown:hover .dropdown-content {
    display: block; }
  
  .top-info {
    display: flex; }
    .top-info .phone-block {
      display: flex;
      flex-direction: wrap;
      margin-right: 20px; }
      .top-info .phone-block .text-call {
        color: grey;
        font-style: italic; }
      .top-info .phone-block a {
        color: #000; }
    .top-info .reserv-block {
      text-align: center;
      background: #f0793a;
      cursor: pointer; 
      width:80px;}
      .top-info .reserv-block p, .top-info .reserv-block span {
        padding-top: 10px;
        color: #fff; }
      .top-info .reserv-block p:hover, .top-info .reserv-block span:last-child:hover {
        text-decoration: underline; }
  
  /*------------------------------------------ Apartments------------------------------------------*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>> Filter Block */
.fliter-block{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.search-block{
  width:600px;
  height:70px;
  display: flex;
  flex-wrap: wrap;
}
.search-categorie{
  width:300px;
  height:35px;
  font-family: 'Nexa-Regular';
  font-size: 13px;
}
.search-categorie:last-child{
  text-align: center;
}
.search-categorie .category{
  font-family: 'Nexa-Bold';
  font-size: 15px;
  color:#162546;
}
.search-categorie input{
  position: relative;
  top:3px;
}
.search-categorie button{
  font-family: 'Nexa-Regular';
  font-size: 20px;
  width:100px;
  height:30px;
  color: #fff;
  background-color: #f0793a;
  border:0;
}
.search-categorie button:hover{
  background: #162546;
}
.search-categorie button:active {
 background: red;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>> Sorting */
.sort-block{
  width:160px;
  height: 32px;
}
.dropdown2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 32px;
  width: 160px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown2:before, .dropdown2:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown2:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown2:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown2-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-family: 'Nexa-Ragular';
  font-size: 15px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; 
  background: rgba(0, 0, 0, 0) !important; 
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown2-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown2-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>> Apartment Loots */
  h1{
    font-family: 'Nexa-Light';
    font-size: 30px;
    color: #f0793a;
    text-align: center;
    letter-spacing: 0.4em;
}
.apartments-data-inner{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}
.border {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  padding: 20px;
  border: 3px solid #F1E7E8;
  -webkit-box-shadow: 2px -2px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -2px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 2px -2px 26px 0px rgba(0,0,0,0.75);
}
.wrap {
  height: 100%;
  position: relative;
 }
.product-wrap {position: relative;}

.border:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap a {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
  height:200px;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}
.border:hover .loop-action {opacity: 1;}
.product-info a {
  text-decoration: none;
  display: block;
  border: 1px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: .5em 1em;
  font-size: 14px;
  width: 50px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background: #f0793a;
  min-width: 160px;
  margin: 5px auto;
}
.product-info a:hover{
  background: #162546;
  cursor: pointer;
}
.border:hover {border-color: #4966A2;}

.product-title {
  text-align: center;
  font-weight: normal;
  font-family: "Nexa-Bold";
  color: #162546;
  font-size: 18px;
}
.price {
  text-align: center;
  font-family: "Nexa-Bold";
  color: #162546;
  font-weight: bold;
  font-style: italic;
}
.price-red{
  color:red;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>> Pagination Block */
.pagination-block{
  max-width:700px;
  height:50px;
  margin: 0 auto;
  margin-top:20px;
  text-align: center;
}
 .border{
  display: none;
}
.pagination-block > span {
  font-family: 'Nexa-Bold';
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}
.paginator_active {
  color: red;
}
  /*------------------------------------------  Luxury Rooms(with spa-classes) ------------------------------------------*/
  .spa-procedures {
    width: 100%;
    height: 600px;
    background: #083b5a; 
    margin-top:50px; }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  
  .spa-procedures-inner {
    padding-top: 80px; }
  
  .block-1 {
    width: 400px;
    height: 500px;
    text-align: center; }
    .block-1 h2 {
      font-family: 'Nexa-Light';
      font-size: 60px;
      text-transform: uppercase;
      color: #fff; }
    .block-1 p {
      font-family: 'Nexa-Light';
      color: #fff;
      font-size: 17px; }
  
  .block-2 {
    width: 500px;
    height: 500px; }
    .block-2 .image-2-3 {
      margin-top: 10px;
      justify-content: space-between; }
      .block-2 .image-2-3 .imgBox {
        width: 200px; }
        .block-2 .image-2-3 .imgBox img {
          box-sizing: border-box;
          width: 100%;
          height: 160px; }
  /*------------------------------------------ Footer ------------------------------------------*/
  footer {
    width: 100%;
    height: 100px; 
  padding-left: -100px;}
    footer .flex-container {
      justify-content: space-between; }
    footer .footer-logo {
      padding-left: 50px; }
    footer .copyright {
      padding-left: 100px;
      font-family: 'Nexa-Regular';
      font-size: 20px; }
    footer .copyright, footer .footer-links {
      padding-top: 20px; }
    footer .footer-links {
      width: 300px; }
      footer .footer-links:last-child {
        padding-right: 30px; }
      footer .footer-links a {
        color: #000; }
      footer .footer-links a:hover {
        color: #f0793a; }
      footer .footer-links i {
        font-size: 50px; }